@model IEnumerable<TRL_API.Models.Dashboard>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenantCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collected)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenantCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collected)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Month">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Month">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Month">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
